<!DOCTYPE html>
<html>
<head>
    
	<title>{% block title %}My web tools online{% endblock %}</title>
	
	<!-- metaTags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="author" content="{% block meta_autor %}Pericodes{% endblock %}" />
	<meta name="robots" content="index"/>
	<meta name="description" content="{% block meta_description %}{% endblock %}"/>
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
	{% block bootstrap_css %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{% endblock %}
    {% block jquery %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% endblock %}
    {% block bootstrap_js %}
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block css_base %}
    <link rel="stylesheet" type="text/css" href="public/css/base.css"/>
    {% endblock %}
    {% block fontawesome %}
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    {% endblock %}
    {% block css %}{% endblock %}
    {% block javaScriptStart %}{% endblock %}
</head>

<body>
	<header>
		<div>
			<div class="row justify-content-center">
				<h1 id="title" class="col-9">My web tools Online</h1>
			</div>
			
		</div>
		<section id="menu" class="row d-flex justify-content-center bg-dark">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark col-9">
			  <a class="navbar-brand" href="/">Home</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">What's mean serverless?</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Supports</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Contact</a>
			      </li>    
			    </ul>
			  </div>  
			</nav>
		</section>
	</header>
	<div class="row d-flex justify-content-center">
		<main class="col-sm-7 card">
			{% block main %}{% endblock %}
		</main>
		<aside class="col-sm-2 card">
			<div class="card-body">
				{% if serverless %}
				<section id="Serverles" class="border-bottom  pb-3">
					<h2>Serverless</h2>
					<p>Serverless means that this page can works without internet connection.</p>
				</section>
				{% else %}
				{% endif %}
				<section id="patreon" class="border-bottom  pb-3">
					<h2>Please, support this project</h2>

				</section>
			</div>
		</aside>
	</div>
	<footer class="row justify-content-center">
		<div class="col-9  card">
			<section class="card-body" id="credits">
				{% block credits %}
				<p>Make with love by <a href="https://github.com/pericodes">Pericodes</a></p>
				{% endblock %}
			</section>
		</div>
	</footer>
	<script type="text/javascript" src="./public/js/comun.js"></script>
	{% block javaScriptEnd %}

	{% endblock %}
</body>
</html>