{% extends "base.html" %}
{% set serverless = true %}
{% block title %}
Password Generator
{% endblock %}
{% block meta_description %}
Here you can generate ramdon passwords online and check if the password is strong with the password Strength meter tests. 
This page is serverless, so you can download it and it will still work in local. 
{% endblock %}
{% block meta_keywords %}
Password generator online, Password Strength meter online
{% endblock %}

{% block main %}
<section class="card-body card" id="password-generated">
    <h2>Password Generated</h2>
    <div class="form-row">
        <div class="form-group col-md-9 d-flex align-items-center mb-0" >
            <input type="text" class="form-control" id="password" placeholder="Password Generated" onkeyup="passwordTest()">
            <div class="invalid-feedback">
                No character.
            </div>
        </div>
        <div class="col-md-3 row d-flex align-items-center justify-content-around">
            <div class="col-5 m-2">
                <button type="button" class="btn btn-warning" onclick="generatePassword()">Generate</button>
            </div>
            <div class="col-4 m-2">
                <button type="button" class="btn btn-success" onclick="copyToClipboard('password')">Copy</button>
            </div>
        </div>
    </div>
</section>
<section class="card-body card" id="options">
    <h2>Options</h2>
    <section>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Length</label>
            <div class="col-sm-9">
              <input type="number" class="form-control strength" id="length" value="15" onchange="generatePassword()" onkeyup="generatePassword()">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="numbers" checked="" onchange="generatePassword()">
                    <label class="form-check-label" for="numbers">Numbers</label>
                </div>
            </div>
            <div class="form-group col-md-9">
              <input type="text" class="form-control" id="includedNumbers" placeholder="No Numbers included" value="0123456789" onkeyup="generatePassword()">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="lowercase" checked="" onchange="generatePassword()">
                    <label class="form-check-label" for="lowercase">Lowercase Characters</label>
                </div>
            </div>
            <div class="form-group col-md-9">
              <input type="text" class="form-control" id="includedLowercase" placeholder="No Lowercase Characters included" value="abcdefghijklmnopqrstuvwxyz" onkeyup="generatePassword()">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="uppercase" checked="" onchange="generatePassword()">
                    <label class="form-check-label" for="uppercase">Uppercase Characters</label>
                </div>
            </div>
            <div class="form-group col-md-9">
              <input type="text" class="form-control" id="includedUppercase" placeholder="No Uppercase Characters included" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" onkeyup="generatePassword()">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="symbols" checked="" onchange="generatePassword()">
                    <label class="form-check-label" for="symbols">Include this symbols</label>
                </div>
            </div>
            <div class="form-group col-md-9">
              <input type="text" class="form-control" id="includedSymbols" placeholder="Symbols included" value="@#$€&+*%=?! {}[]()/\|'`&quot;~.,:;&lt;_->" onkeyup="generatePassword()">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="form-group col-md-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="excludeCharacters" onchange="generatePassword()">
                    <label class="form-check-label" for="excludeCharacters">Exclude this Characters</label>
                </div>
            </div>
            <div class="form-group col-md-9">
              <input type="text" class="form-control" id="charactersExcluded" placeholder="Characters excluded" value="iIlL1oO0" onkeyup="generatePassword()">
            </div>
        </div>
    </section>
</section>
<section class="card-body card" id="options">
    <h2>Password Strength meter Tests</h2>
    <section class="card card-body" id="zxcvbn">
        <h4>Zxcvbn</h4>
        <section id="zxcvbn-info">
            <div class="progress">
                <div id="zxcvbnBar" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0"aria-valuemin="0" aria-valuemax="4"></div>
            </div>
        </section>
    </section>
    <section class="card card-body" id="strengthMeter">
        <h4><a href="https://github.com/kartik-v">Kartik-v</a> Strength meter</h4>
        <section id="strengthMeter-info">
            <div class="progress">
                <div id="strengthMeterBar" class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0"aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </section>
    </section>
</section>
{% endblock %}
{% block javaScriptStart %}
<script type="text/javascript" src="http://myWebToolsOnline.com/public/js/comun.js"></script>
<script type="text/javascript" src="http://myWebToolsOnline.com/public/js/security/zxcvbn.js"></script>
<script type="text/javascript" src="http://myWebToolsOnline.com/public/js/security/strength-meter.js"></script>
{% endblock %}
{% block javaScriptEnd %}
<script>
    generatePassword(); 
function generatePassword(){
    let characters = ""; 
    characters += document.getElementById("numbers").checked ? document.getElementById("includedNumbers").value : "";
    characters += document.getElementById("lowercase").checked ? document.getElementById("includedLowercase").value : "";
    characters += document.getElementById("uppercase").checked ? document.getElementById("includedUppercase").value : "";
    characters += document.getElementById("symbols").checked ? document.getElementById("includedSymbols").value : "";
    if(document.getElementById("excludeCharacters").checked){
        let charactersExcluded = document.getElementById("charactersExcluded").value;
        for (const character of charactersExcluded){
            characters = characters.replace(character, "");
        };
    }

    if(characters != ""){
        let password = ""; 
        for (let index = 0; index < document.getElementById("length").value; index++) {
            password += characters[Math.floor(Math.random() * characters.length)];
        }
        document.getElementById("password").value = password;
        document.getElementById("password").setCustomValidity = "";
        passwordTest();
    }else{
        document.getElementById("password").value = "";
        document.getElementById("password").setCustomValidity = "No character.";
    }
     
}
function passwordTest(){
    let password = document.getElementById("password").value;
    let zxcvbnStrength = {  0: "Worst",
                            1: "Bad",
                            2: "Weak",
                            3: "Good",
                            4: "Strong"}
    // zxcvbn
    let zxcvbnTest = zxcvbn(password);
    zxcvbnBar = document.getElementById("zxcvbnBar"); 
    if(zxcvbnTest.score < 1){
        zxcvbnBar.className = "progress-bar bg-danger";
        zxcvbnBar.style = "width: 0%";
    }else if (zxcvbnTest.score == 1) {
        zxcvbnBar.className = "progress-bar bg-danger";
        zxcvbnBar.style = "width: 25%";
    }else if (zxcvbnTest.score == 2) {
        zxcvbnBar.className = "progress-bar bg-warning";
        zxcvbnBar.style = "width: 50%";
    }else if (zxcvbnTest.score == 3) {
        zxcvbnBar.className = "progress-bar bg-warning";
        zxcvbnBar.style = "width: 75%";
    }else if (zxcvbnTest.score == 4){
        zxcvbnBar.className = "progress-bar bg-success";
        zxcvbnBar.style = "width: 100%";
    }
    zxcvbnBar.setAttribute("aria-valuenow", zxcvbnTest.score);
    zxcvbnBar.innerHTML = `${zxcvbnTest.score}/4`;
    //document.getElementById("zxcvbn-strength").innerHTML = `Strength: ${zxcvbnStrength[zxcvbnTest.score]}`;

    // strengthMeter
    let rules = {
            minLength: 2,
            midChar: 2,
            consecAlphaUC: 2,
            consecAlphaLC: 2,
            consecNumber: 2,
            seqAlpha: 3,
            seqNumber: 3,
            seqSymbol: 3,
            length: 4,
            number: 4,
            symbol: 6
        }
    //let strengthMeterScore = $('#password').strength("score");
    //let strengthMeterScore = $('#password').h.getScore(password, rules);
    let strengthMeterScore = getScore(password, rules);
    strengthMeterBar = document.getElementById("strengthMeterBar"); 

    if (strengthMeterScore <= 50) {
        strengthMeterBar.className = "progress-bar bg-danger";
    }else if (strengthMeterScore <= 80) {
        strengthMeterBar.className = "progress-bar bg-warning";
    }else{
        strengthMeterBar.className = "progress-bar bg-success";
    }
    strengthMeterBar.style = `width: ${strengthMeterScore}%`;
    strengthMeterBar.setAttribute("aria-valuenow", strengthMeterScore);
    strengthMeterBar.innerHTML = `${strengthMeterScore}/100`;
    console.log(strengthMeterScore);
    

}

    function getScore (text, rules) {
            if (text === "" || text.length < rules.minLength) {
                return 0;
            }
            var nAlphaUC = 0, nAlphaLC = 0, nNumber = 0, nSymbol = 0, nMidChar = 0, nUnqChar = 0, nRepChar = 0,
                nRepInc = 0, nConsecAlphaUC = 0, nConsecAlphaLC = 0, nConsecNumber = 0, nConsecSymbol = 0,
                nConsecCharType = 0, nSeqAlpha = 0, nSeqNumber = 0, nSeqSymbol = 0, nSeqChar = 0,
                nMultMidChar = rules.midChar, nMultConsecAlphaUC = rules.consecAlphaUC,
                nMultConsecAlphaLC = rules.consecAlphaLC, nMultConsecNumber = rules.consecNumber,
                nMultSeqAlpha = rules.seqAlpha, nMultSeqNumber = rules.seqNumber, nMultSeqSymbol = rules.seqSymbol,
                nMultLength = rules.length, nMultNumber = rules.number, nMultSymbol = rules.symbol,
                nTmpAlphaUC = -1, nTmpAlphaLC = -1, nTmpNumber = "", nTmpSymbol = "",
                sAlphas = "abcdefghijklmnopqrstuvwxyz", sNumerics = "01234567890", sSymbols = ")!@#$%^&*()",
                nScore = text.length * nMultLength, nLength = text.length, s, sFwd, sRev, str = '', a, b, bCharExists,
                arrPwd = text.replace(/\s+/g, "").split(/\s*/), arrPwdLen = arrPwd.length;

            // loop through password to check for Symbol, Numeric, Lowercase and Uppercase pattern matches
            for (a = 0; a < arrPwdLen; a++) {
                str = arrPwd[a];
                if (str.toUpperCase() !== str) {
                    if (nTmpAlphaUC !== -1 && (nTmpAlphaUC + 1) === a) {
                        nConsecAlphaUC++;
                        nConsecCharType++;
                    }
                    nTmpAlphaUC = a;
                    nAlphaUC++;
                    break;
                }
                else {
                    if (str.toLowerCase() !== str) {
                        if (nTmpAlphaLC !== -1 && (nTmpAlphaLC + 1) === a) {
                            nConsecAlphaLC++;
                            nConsecCharType++;
                        }
                        nTmpAlphaLC = a;
                        nAlphaLC++;
                    } else {
                        if (str.match(/[0-9]/g)) {
                            if (a > 0 && a < (arrPwdLen - 1)) {
                                nMidChar++;
                            }
                            if (nTmpNumber !== "" && (nTmpNumber + 1) === a) {
                                nConsecNumber++;
                                nConsecCharType++;
                            }
                            nTmpNumber = a;
                            nNumber++;
                        } else {
                            if (str.match(/[^\w]/g)) {
                                if (a > 0 && a < (arrPwdLen - 1)) {
                                    nMidChar++;
                                }
                                if (nTmpSymbol !== "" && (nTmpSymbol + 1) === a) {
                                    nConsecSymbol++;
                                    nConsecCharType++;
                                }
                                nTmpSymbol = a;
                                nSymbol++;
                            }
                        }
                    }
                }
                // internal loop through password to check for repeat characters
                bCharExists = false;
                for (b = 0; b < arrPwdLen; b++) {
                    if (arrPwd[a] === arrPwd[b] && a !== b) { // repeat character exists
                        bCharExists = true;
                        /*
                         Calculate increment deduction based on proximity to identical characters
                         Deduction is incremented each time a new match is discovered
                         Deduction amount is based on total password length divided by the
                         difference of distance between currently selected match
                         */
                        nRepInc += Math.abs(arrPwdLen / (b - a));
                    }
                }
                if (bCharExists) {
                    nRepChar++;
                    nUnqChar = arrPwdLen - nRepChar;
                    nRepInc = (nUnqChar) ? Math.ceil(nRepInc / nUnqChar) : Math.ceil(nRepInc);
                }
            }

            // check for sequential alpha string patterns (forward and reverse)
            for (s = 0; s < 23; s++) {
                sFwd = sAlphas.substring(s, s + 3);
                sRev = sFwd.strReverse();
                if (text.toLowerCase().indexOf(sFwd) !== -1 || text.toLowerCase().indexOf(sRev) !== -1) {
                    nSeqAlpha++;
                    nSeqChar++;
                }
            }

            // check for sequential numeric string patterns (forward and reverse)
            for (s = 0; s < 8; s++) {
                sFwd = sNumerics.substring(s, s + 3);
                sRev = sFwd.strReverse();
                if (text.toLowerCase().indexOf(sFwd) !== -1 || text.toLowerCase().indexOf(sRev) !== -1) {
                    nSeqNumber++;
                    nSeqChar++;
                }
            }

            // check for sequential symbol string patterns (forward and reverse)
            for (s = 0; s < 8; s++) {
                sFwd = sSymbols.substring(s, s + 3);
                sRev = sFwd.strReverse();
                if (text.toLowerCase().indexOf(sFwd) !== -1 || text.toLowerCase().indexOf(sRev) !== -1) {
                    nSeqSymbol++;
                    nSeqChar++;
                }
            }

            /**
             * modify overall score value based on usage vs requirements
             */
            // general point assignment
            if (nAlphaUC > 0 && nAlphaUC < nLength) {
                nScore = nScore + (nLength - nAlphaUC) * 2;
            }
            if (nAlphaLC > 0 && nAlphaLC < nLength) {
                nScore = nScore + (nLength - nAlphaLC) * 2;
            }
            if (nNumber > 0 && nNumber < nLength) {
                nScore = nScore + nNumber * nMultNumber;
            }
            if (nSymbol > 0) {
                nScore = nScore + nSymbol * nMultSymbol;
            }
            if (nMidChar > 0) {
                nScore = nScore + nMidChar * nMultMidChar;
            }

            // point deductions for poor practices
            if ((nAlphaLC > 0 || nAlphaUC > 0) && nSymbol === 0 && nNumber === 0) {  // Only Letters
                nScore = nScore - nLength;
            }
            if (nAlphaLC === 0 && nAlphaUC === 0 && nSymbol === 0 && nNumber > 0) {  // Only Numbers
                nScore = nScore - nLength;
            }
            if (nRepChar > 0) {  // Same character exists more than once
                nScore = nScore - nRepInc;
            }
            if (nConsecAlphaUC > 0) {  // Consecutive Uppercase Letters exist
                nScore = nScore - nConsecAlphaUC * nMultConsecAlphaUC;
            }
            if (nConsecAlphaLC > 0) {  // Consecutive Lowercase Letters exist
                nScore = nScore - nConsecAlphaLC * nMultConsecAlphaLC;
            }
            if (nConsecNumber > 0) {  // Consecutive Numbers exist
                nScore = nScore - nConsecNumber * nMultConsecNumber;
            }
            if (nSeqAlpha > 0) {  // Sequential alpha strings exist (3 characters or more)
                nScore = nScore - nSeqAlpha * nMultSeqAlpha;
            }
            if (nSeqNumber > 0) {  // Sequential numeric strings exist (3 characters or more)
                nScore = nScore - nSeqNumber * nMultSeqNumber;
            }
            if (nSeqSymbol > 0) {  // Sequential symbol strings exist (3 characters or more)
                nScore = nScore - nSeqSymbol * nMultSeqSymbol;
            }
            nScore = nScore <= 0 ? (nLength >= nMultLength ? 1 : 0) : Math.min(nScore, 100);
            return nScore;
        }
</script>
{% endblock %}
{% block credits %}
<h2>Credits: </h2>
<p>Make with love by <a href="https://github.com/pericodes">Pericodes</a></p>
<p>This page use the library <a href="https://github.com/dropbox/zxcvbn">zxcvbn</a> created by <a href="https://github.com/dropbox">Dropbox</a></p>
<p>This page has modified the library <a href="https://github.com/kartik-v/strength-meter">strength-meter</a> created by <a href="https://github.com/kartik-v">Kartik-v</a></p>
{% endblock %}